.venv/
__pycache__/
.git/
.gitattributes
.gitignore
models/EasyOCR_model/craft_mlt_25k.pth
log_train.txt
images/
README.md
README-RU.MD
config.json
config_example.json
.env
.env.example
start-bot.bat
docker_comands.txt